<a href="https://colab.research.google.com/github/AshithaVV/AshithaVV/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 drive file

SyntaxError: invalid syntax (ipython-input-2707031231.py, line 1)

ValueError: Mountpoint must be in a directory that exists

In [ ]:
a=10
b=20
if a>b:
  print("a is greater")
else:
  print("b is greater")

b is greater

In [ ]:
name="Ashitha"
name[3:-1]

'ith'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

# Replace 'your_file.csv' with the actual path to your file in Google Drive
file_path = '/content/sample_data/california_housing_test.csv'

try:
  df = pd.read_csv(file_path)
  print("File read successfully!")
  display(df.head())
except FileNotFoundError:
  print(f"Error: The file '{file_path}' was not found.")
except Exception as e:
  print(f"An error occurred: {e}")

File read successfully!

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
def fibonacci_series(n_terms):
  """Prints the Fibonacci series up to n_terms."""
  a, b = 0, 1
  count = 0

  if n_terms <= 0:
    print("Please enter a positive integer")
  elif n_terms == 1:
    print("Fibonacci series up to", n_terms, ":")
    print(a)
  else:
    print("Fibonacci series:")
    while count < n_terms:
      print(a)
      nth = a + b
      # update values
      a = b
      b = nth
      count += 1

# Example usage:
fibonacci_series(10)

In [ ]:
a,b=10,2
print("Sum of numbers",a,"and",b,"is =",a+b)

Sum of numbers 10 and 2 is = 12

In [ ]:
name='Alice'
for letters in name:
  print(letters)

A
l
i
c
e

In [ ]:
fruits=['Banana','Cherry','Apple']
print(fruits[:2])

['Banana', 'Cherry']

In [ ]:
Subjects=('Maths','Science','English')
print(Subjects)

('Maths', 'Science', 'English')

In [ ]:
emp_id=(1,2,3)
print(id(emp_id))

133264747570752

In [ ]:
emp_id=(1,2,3,4)
print(id(emp_id))

133264457788416

In [ ]:
salary=[1,2,3]
print(id(salary))

133264463975104

In [ ]:
salary.append(4)
print(id(salary))

133264463975104

In [ ]:
print("Hi-" *3)

Hi-Hi-Hi-

In [ ]:
name="Ashitha Valiyaveettil  "
print(f"My name is {name}")
print("My name is {}".format(name))
print(name.strip())
print(name.replace("Valiyaveettil","V V"))
print(name.split())

My name is Ashitha Valiyaveettil
My name is Ashitha Valiyaveettil
Ashitha Valiyaveettil
Ashitha V V
['Ashitha', 'Valiyaveettil']

In [ ]:
age=int(input("Enter your Age"))
has_id=input("Do you have a valid iD? Enter Y/N:")
has_id=has_id.lower()
print(has_id)
if age>18 and has_id=='y':
  print("You are eligible to vote")
elif age<18 and has_id=='n':
  print("You are not eligible to vote")
else:
  print("Enter valid input")

Enter your Age12
Do you have a valid iD? Enter Y/N:N
n
You are not eligible to vote

In [ ]:
age=int(input("Enter your Age"))
if age>18:
  has_id=input("Do you have a valid iD? Enter Y/N:")
  has_id=has_id.lower()
  if has_id=='y':
    print("You are eligible to vote")
  else:
    print("You are not eligible to vote")
else:
  print("You have to complete 18 years to enter vote")

Enter your Age23
Do you have a valid iD? Enter Y/N:y
You are eligible to vote

In [ ]:
count=0
while count<5:
  print(count)
  count+=1

0
1
2
3
4

In [ ]:
fruits = ['banana','cherry','apple','orange']
vegetables = ['Potato','Brinjal','Tomato','Carrot','Garlic']
for fruit in fruits:
  for vegetable in vegetables:
    print(fruit,vegetable)

banana Potato
banana Brinjal
banana Tomato
banana Carrot
banana Garlic
cherry Potato
cherry Brinjal
cherry Tomato
cherry Carrot
cherry Garlic
apple Potato
apple Brinjal
apple Tomato
apple Carrot
apple Garlic
orange Potato
orange Brinjal
orange Tomato
orange Carrot
orange Garlic

In [ ]:
fruits = ['banana','cherry','apple','orange']
for fruit in fruits:
  if fruit=='apple':
    continue
  print(fruit)

banana
cherry
orange

In [ ]:
def greet(name):
  print(f"Hello", name)
greet("Ashitha")

Hello Ashitha

In [ ]:
def sum(a,b):
  sum=a+b
  print("sum of numbers",a," and ",b," is =",sum)
sum(12,23)

sum of numbers 12  and  23  is = 35

In [ ]:
add=12+3
def sum(a,b):
  sum=a+b
  print("sum of numbers",a," and ",b," is =",sum)
sum(12,23)
print(add)

sum of numbers 12  and  23  is = 35
15

In [ ]:
add_lambda = lambda x,y : x+y
print(add_lambda(2,3))
mul_lambda = lambda x,y:x*y
print(mul_lambda(20,3))

5
60

In [ ]:
no_list=[2,4,7,9]
squared=list(lambda x:x*x,no_list)
print(squared)

TypeError: list expected at most 1 argument, got 2